.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.file-upload .file-select {
  display: block;
  border: 2px solid #b0b8c3;
  color: #353a3f;
  cursor: pointer;
  height: 100%;
  line-height: 80px;
  text-align: left;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}
.file-upload .file-select .file-select-button {
  background: #b0b8c3;
  padding: 0 10px;
  display: inline-block;
  height: 100%;
  line-height: 80px;
}
.file-upload .file-select .file-select-name {
  line-height: 80px;
  display: inline-block;
  padding: 0 10px;
}
.file-upload .file-select:hover {
  border-color: #353a3f;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.file-upload .file-select:hover .file-select-button {
  background: #353a3f;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.file-upload.active .file-select {
  border-color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.file-upload.active .file-select .file-select-button {
  background: #3fa46a;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.file-upload .file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}
.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #b0b8c3;
  color: #353a3f;
  cursor: pointer;
  height: 100%;
  line-height: 80px;
  margin-top: 5px;
  text-align: left;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #b0b8c3;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 100%;
  line-height: 80px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 80px;
  display: inline-block;
  padding: 0 10px;
}
