
[class*="width-"] {
  float: left;
  width: 100%;
  padding: 15px;
}


@media only screen and (min-width: 995px) {
  .width-1 { width: 8.33%; }
  .width-2 { width: 16.67%; }
  .width-3 { width: 25%; }
  .width-4 { width: 33.33%; }
  .width-5 { width: 41.67%; }
  .width-6 { width: 50%; }
  .width-7 { width: 58.33%; }
  .width-8 { width: 66.67%; }
  .width-9 { width: 75%; }
  .width-10 { width: 83.33%; }
  .width-11 { width: 91.67%; }
  .width-12 { width: 100%; }
}